{% block stylesheets %}
<style>
    .custom-navbar {
        background-color: #392C1E;
    }
    .custom-navbar a {
        color: white;
    }
    .custom-navbar li a:hover {
        font-weight: bold;
        background-color: #392C1E; 
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar custom-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ path('homepage') }}">Le Quai Antique</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=" {{ path('la_carte') }} ">La Carte</a></li>
                    <li><a href="{{ path('mon_compte') }}">Mon Compte</a></li>
                    <li><a href="{{ path('reservation') }}">Réservez !</a></li>
                </ul>
            </div>
</nav>
{% endblock %}
