{% block stylesheets %}
<style>
    .custom-navbar {
        background-color: #392C1E;
    }
    .custom-navbar a {
        color: white;
    }
</style>
{% endblock %}

{% block body %}
<nav class="navbar custom-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="">Le Quai Antique</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="" href="#">La Carte</a></li>
                    <li><a class="text-success" href="#">Mon Compte</a></li>
                    <li><a class="text-info" href="#">Réservez !</a></li>
                </ul>
            </div>
</nav>
{% endblock %}
