{% extends 'base.html.twig' %}

{% block title %}Hello MonCompteController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { 
    margin: 1em auto; 
    min-width: 300px;
    width: 95%; 
    font: 18px/1.5 sans-serif; 
    text-align: center;
    }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    footer {
        margin-top: 500px;
    }
</style>

<div class="example-wrapper">
    <div class="user-profile">
        <h1>Bonjour {{ user.name }}!</h1>
    </div>

    <div class="user-details">
        <p>E-mail : {{ user.email }}</p>
    
    </div>
</div>
{% endblock %}
