{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<style>
    
    body { background-color: #B6AC97;}
    .custom-img { max-width: 100%; height: auto;}
    .btn { background-color: #392C1E; }

</style>
{% endblock %}

{% block body %}
    <h1>Bienvenue {{ user.name }} !</h1>

    <div class="container">
        <div class="row">
            <div class="col">
                <img src="/temp_images/fromage.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>
        <div class="text-center mt-4">
            <a href="#" class="btn btn-primary btn-lg">Réservez</a>
        </div>
    </div>
{% endblock %}
