{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<style>
    
    body { background-color: #B6AC97;}
    .custom-img { max-width: 100%; height: auto; margin-top: 20px;}
    .btn { background-color: #392C1E; }

</style>
{% endblock %}

{% block body %}
    

    <div class="container text-center ">
    <h1>Bienvenue au Quai Antique !</h1>
        <div class="row">
            <div class="col">
                <img src="/temp_images/fromage.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/temp_images/fondue-savoyarde.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="\temp_images\tartiflette.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>

        <div class="mt-4" style="margin-top: 20px;">
            <a href="#" class="btn btn-primary btn-lg">Réservez</a>
        </div>
    </div>

{# {% if photos is not empty %}
    {% set currentIndex = app.request.get('currentIndex', 0) %}
    <img src="{{ asset('public/photos/' ~ photos[currentIndex].image) }}" alt="{{ photos[currentIndex].titre }}">

    <div>
        <a href="{{ path('next_photo', { 'currentIndex': currentIndex, 'maxIndex': photos|length }) }}">Photo suivante</a>
        <a href="{{ path('previous_photo', { 'currentIndex': currentIndex, 'maxIndex': photos|length }) }}">Photo précédente</a>
    </div>
{% else %}
    <p>Aucune photo disponible.</p>
{% endif %} #}


{% endblock %}
