{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
<style>
    body { background-color: #B6AC97;}
    .custom-img { max-width: 100%; height: auto; margin-top: 20px;}
    .btn { background-color: #392C1E; color: white;}
    .btn:hover { background-color: #906427; color: white;}

</style>
{% endblock %}

{% block body %}
    

    <div class="container text-center ">
    <h1>Bienvenue au Quai Antique !</h1>
        <div class="row">
            <div class="col">
                <img src="/temp_images/fromage.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="/temp_images/fondue-savoyarde.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="\temp_images\tartiflette.jpg" class="custom-img" alt="Le Fromage">
            </div>
        </div>

        <div class="mt-4" style="margin-top: 20px; margin-bottom: 20px">
            <a href="{{ path('reservation') }}" class="btn btn-lg">Réservez</a>
        </div>
    </div>

{% endblock %}
