{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    <h1>Hello ! Ici vla la carte</h1>

    <div id="la_carte">
    <style> #la_carte {background-color: #D9D9D9;} </style> {# changer d'emplacement ? #}
        <h1>La Carte !</h1>
        <h2>Entrées</h2>
            <h3>Nom du plat</h3>
            <p>descirption lqeghnoziEQSGHNZSPGHNPS%HGJNVSP</p>
            <p>prix</p>
            <h3>Nom du plat</h3>
            <p>descirption lqeghnoziEQSGHNZSPGHNPS%HGJNVSP</p>
            <p>prix</p>
            <h3>Nom du plat</h3>
            <p>descirption lqeghnoziEQSGHNZSPGHNPS%HGJNVSP</p>
            <p>prix</p>

        <h2>Desserts</h2>
            <p>nfnff</p>
            <p>fnfnf</p>
            <p>nfnfnf</p>
            <p>nfff</p>
        <h2>Burgers</h2>
            <p>lorem</p>
            <p>ndfnfdn</p>
            <p>ffffffff</p>
            <p>ffffffffff</p>

        <h1>Menu du Marché</h1>
        <h2>Formule Diner</h2>
            <p>fgffffffffff</p>
            <p>fffffffffff</p>
            <p>fffffffffffff</p>
        <h2>Formule Déjeuner</h2>
            <p>fffffffffffff</p>
            <p>fffffffffffffff</p>
            <p>fffffffffffffff</p>
            <p>ffffffffffffffff</p>
    </div>
    

{% endblock %}
